<%= form_with model: @child do |f| %>
  <%= f.label :nickname, "Nickname:" %><br>
  <%= f.text_area :nickname, row: 1 %><br>
  <div class="general-size-form">
    <%= f.label :base_size, "General Size. You can leave this blank if you want to customize sizes, or edit later!" %>
    <%= f.select :base_size, $clothing_sizes %>
  </div>
  <div class="shirt-sizes-form">
    <%= f.label :shirt_size, "Shirt Size:" %>
    <%= f.select :shirt_size, $clothing_sizes %>
  </div>
  <div class="hats-and-gloves-form">
    <%= f.label :hats_and_gloves_size, "Hats and Gloves Size:" %>
    <%= f.select :hats_and_gloves_size, $clothing_sizes %>
  </div>
  <br>
  <%= f.label :shoe_size, "Shoe Size:" %>
  <%= f.select :shoe_size, $shoe_sizes%>
  <br>
  <%= f.submit %>
<% end %>