<h1><%= @child.nickname %>'s page.</h1>
<br>
<br>
<div class="owned-clothes">
  A list of your child's clothes:
  <% @child.garments.each do |garment| %>
    <%= garment.clothing_catagory %><br>
    <%= garment.clothing_catagory_item %><br>
    <%= garment.color %><br>
    <%= garment.season %><br>
    <%= garment.size %><br>
  <% end %>
  <br>
</div>
<div class="needed-clothes">
  A list of clothes your child needs:
  <br>
</div>
<div class="small-clothes">
  Clothes your child has outgrown:
  <br>
</div>
<div class="big-clothes">
  Clothes your child can grow into:
  <br>
</div>

<div class="edit-child">
<h2>Edit child</h2>
  <%= render "children/edit" %>
<div>

<div class="edit-needs">
<h2>Edit Needs</h2>

</div>

<div class="edit-owned-clothes">
<h2>Edit Clothes</h2>

</div>