<h1><%= @child.nickname %>'s page.</h1>
<br>
<br>
<div class="owned-clothes">
  <h3>A list of your child's clothes:</h3>
  <br>
  <% @child.garments.each do |garment| %>
    <%= garment.clothing_catagory %><br>
    <%= garment.clothing_catagory_item %><br>
    <%= garment.color %><br>
    <%= garment.season %><br>
    <%= garment.size %><br>
  <% end %>
  <br>
</div>
<div class="needed-clothes">
  <h3>A list of clothes your child needs:</h3>
  <% @needs.each do |need| %>
    <%= need[0] %> <%= need[1]%>
    <br>
  <% end %> 
  <br>
</div>
<div class="small-clothes">
  <h3>Clothes your child has outgrown:</h3>
  <br>
</div>
<div class="big-clothes">
  <h3>Clothes your child can grow into:</h3>
  <br>
</div>

<div class="edit-child">
<h2>Edit child</h2>
  <%= render "children/edit" %>
<div>

<div class="edit-owned-clothes">
<h2>Edit Clothes</h2>
<h3>Add clothes</h3>
  <%= render "garments/new" %>

</div>